# Configuration of Acutator info endpoint
info:
  name: "@project.name@"
  description: "@project.description@"
  groupId: "@project.groupId@"
  artifactId: "@project.artifactId@"
  version: "@project.version@"
  apiVersion: "@project.version@"

# Actuator config
server:
  port: ${AMPHORA_SERVICE_PORT:10000}
  servlet:
    context-path: /

carbynestack:
  spdz:
    mac-key: ${MAC_KEY:""}
    prime: ${SPDZ_PRIME:""}
    r: ${SPDZ_R:""}
    rInv: ${SPDZ_R_INV:""}
  amphora:
    vcPartners: ${AMPHORA_VC_PARTNERS:}
    openingTimeout: ${AMPHORA_OPENING_TIMEOUT:5000}
    playerId: ${PLAYER_ID:0}
    no-ssl-validation: ${NO_SSL_VALIDATION:false}
    trusted-certificates: ${TRUSTED_CERTIFICATES:} # list of trusted certificates comma separated (absolute path)
    cache:
      input-mask-store: "input-mask-store"
      interim-value-store: "interim-value-store"
  castor:
    no-ssl-validation: ${NO_SSL_VALIDATION:false}
    trusted-certificates: ${TRUSTED_CERTIFICATES:} # list of trusted certificates comma separated (absolute path)
    service-uri: ${CASTOR_SERVICE_URI}
